*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding: 3.5rem;
}

.header,
.info {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.info-content {
  justify-content: flex-start;
  flex: 1;
  text-align: left;
  max-width: 300px;
}

.info-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.info-context {
  font-size: 18px;
  color: #e5e7eb;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  max-width: 350px;
  height: 150px;
}

/*introduction section*/

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.intro-title {
  display: flex;
}

.introduction {
  display: flex;
  gap: 5rem;
  flex-wrap: nowrap;
}

.intro-img {
  height: 200px;
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 1rem;
}

p.subtext {
  text-align: center;
  max-width: 200px;
  font-size: 18px;
  color: #6b6e71f7;
}

/*quote section*/

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.quote-text {
  font-size: 24px;
  color: #1f2937;
  font-weight: 10;
  font-style: italic;
  display: flex;
  justify-content: center;
  max-width: 64rem;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

/*calltoaction section*/
.CTA {
  margin: 4rem;
  background-color: #3882f6;
  border-radius: 1rem;
  display: flex;
  color: #f9faf8;
  align-items: center;
  gap: 12rem;
}

.cta-content {
  gap: 3rem;
}

.cta-text {
  font-weight: 10;
}

.button-signup {
  background-color: #3882f6;
  padding: 10px 30px;
  border: 12px #f9faf8;
}

/*footer*/
.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  padding: 2rem;
}
